@using Xcomp.Data.TinhNang
@using Xcomp.Share.Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "IoT Center";
}

<style>
    

</style>
<section id="hearder" style="padding-top:60px;">  
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="w-100 align-items-center row">
                    <div class="col text-center p-lg-5">
                     <img style="width:200px;" class="pb-4" src="~/Files/bdiot.png" />
                      <h5>IoT CENTER - ĐƯA SỰ THÔNG MINH VÀO TỪNG TẾ BÁO XÃ HỘI   </h5>
                      <p class=""> 
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <img class="w-100" src="~/Files/iotbg.png" />
            </div>
        </div>
    </div>
</section>


<div class="container">
  
    <div class = "row justify-content-md-center mb-4">
        <div class="col-12 text-center p-5">
             <h3> SÀN DỊCH VỤ IoT </h3>
        </div>

        @foreach (var ls in await AC.LoaiSan.Get(SystemInfo.HeThong.DS_DsId("Mua")))
        {
            var dss = await AC.San.GetByCode(ls.Code);
            
            if (dss != null && dss.Count > 0)
            {
                <div class="col-md-4 d-flex mb-4 click"  >
                <div class="card w-100">
                    <div class="card-header justify-content-between align-items-center">
                        @ls.Name 
                        <span class="badge bg-primary rounded-pill">@dss.Count sàn</span>
                    </div>
                   <div class="list-group">
                        @foreach(var s in dss)
                        {
                            <a href="/san/index?id=@s.Id" class="list-group-item d-flex justify-content-between align-items-center">
                                @s.Name
                                @if (s.DsIdDichVu != null && s.DsIdDichVu.Count > 0)
                                    {
                                         <span class="badge bg-primary rounded-pill">@s.DsIdDichVu.Count</span>
                                    }
                            </a>
                                        
                        }              
                    </div>   
                  
                 
                </div>
            </div>
            }
            
        }
        
        
        
    </div>
   
  
  
</div>

