@using Xcomp.Data.TinhNang
@using Xcomp.Share.Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "BẢO HIỂM";
}

<style>
    

</style>
<section id="hearder" style="padding-top:60px;">  
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="w-100 align-items-center row">
                    <div class="col text-center p-lg-5">
                     <img style="width:150px;" class="pb-4" src="~/Files/baohiemlogo.png" />
                      <h5>BẢO HIỂM - TƯƠNG LAI KHÔNG LO LẮNG    </h5>
                      <p class=""> 
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <img class="w-100" src="~/Files/baohiem_fam.png" />
            </div>
        </div>
    </div>
</section>


<div class="container">
  
    <div class = "row justify-content-md-center mb-4">
        <div class="col-12 text-center p-5">
             <h3>  DỊCH VỤ BẢO HIỂM </h3>
        </div>

       
        
        
        
    </div>
   
  
  
</div>

