@using Xcomp.Data.TinhNang

@{
    Layout = "~/Views/Shared/_Layout_ToChuc_View.cshtml";

    var id = (string)ViewBag.id;
    
}




    <section id="dichvu" >
        
        Trang công ty chưa có trang chủ

    </section>
 
